<!DOCTYPE html>
<html>

<head>
    <title> 首页 </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-white">
        <div class="am-header-left am-header-nav">
            <a href="#" class="">
                <i class="am-icon-angle-left am-fr am-icon-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">参加的考试</h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <div class="am-g">
        <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
            <dl class="am-accordion-item am-active">
                <dt class="am-accordion-title">
                    电子信息基础
                </dt>
                <dd class="am-accordion-bd am-collapse am-in">
                    <div class="am-accordion-content">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 60%;">
                                <strong>60</strong>分
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/radio" class="am-btn am-btn-secondary am-round">单选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/multiselect" class="am-btn am-btn-primary am-round">多选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/judge" class="am-btn am-btn-warning am-round">判断题</a>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title">
                    电子信息理论进阶
                </dt>
                <dd class="am-accordion-bd am-collapse">
                    <div class="am-accordion-content">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 40%;">
                                <strong>40</strong>分
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/radio" class="am-btn am-btn-secondary am-round">单选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/multiselect" class="am-btn am-btn-primary am-round">多选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/judge" class="am-btn am-btn-warning am-round">判断题</a>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="am-accordion-item">
                <dt class="am-accordion-title">
                    经济法理论
                </dt>
                <dd class="am-accordion-bd am-collapse">
                    <div class="am-accordion-content">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 70%;">
                                <strong>70</strong>分
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/radio" class="am-btn am-btn-secondary am-round">单选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/multiselect" class="am-btn am-btn-primary am-round">多选题</a>
                            </div>
                            <div class="am-u-sm-4 am-text-center">
                                <a href="/judge" class="am-btn am-btn-warning am-round">判断题</a>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </section>
    </div>
    <div class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-6">
            <span class="xb-tab-icon"><i class="am-icon-wpforms am-icon-sm am-icon-fw"></i></span>
            <span class="xb-tab-span">考试</span>
        </div>
        <div class="xb-tab am-u-sm-6">
            <span class="xb-tab-icon"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
            <span class="xb-tab-span">个人中心</span>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</body>

</html>