<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="am-g xb-100h">
        <div class="am-u-sm-8 am-u-sm-offset-2 xb-100h">
            <form class="am-form am-vertical-align xb-100h" action="/login" method="post">
                <fieldset class="am-vertical-align-middle">
                    <legend class="am-text-center">欢迎登录</legend>
                    <div class="am-form-group">
                        <label for="worker_num">职工编号</label>
                        <input type="number" class="" id="worker_num" name="worker_num" placeholder="100365">
                    </div>
                    <div class="am-form-group">
                        <label for="worker_name">姓名</label>
                        <input type="text" class="" id="worker_name" name="worker_name" placeholder="小波">
                    </div>
                    <div class="am-u-sm-8 am-u-sm-offset-2 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary">登录</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</body>

</html>