<!DOCTYPE html>
<html>

<head>
    <title>考试系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-white">
        <div class="am-header-left am-header-nav">
            <a href="/" class="">
                <i class="am-icon-angle-left am-fr am-icon-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">电子信息基础</h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <style>
    
    </style>
    <div class="am-g xb-section">
        <span class="am-u-sm-8">单项选择题</span>
        <span class="am-u-sm-4 am-text-right" id="question_num"><strong>1</strong>/10</span>
    </div>
    <div class="am-g xb-question">
        <form action="" class="am-u-sm-12 xb-100h">
            <div class="swiper-container swiper-container-horizontal xb-100h">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-hash="1">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-1" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-1" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-1" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-1" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="2">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-2" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-2" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-2" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-2" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="3">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-3" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-3" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-3" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-3" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="4">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-4" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-4" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-4" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-4" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="5">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-5" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-5" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-5" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-5" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="6">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-6" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-6" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-6" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-6" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="7">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-7" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-7" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-7" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-7" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="8">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-8" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-8" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-8" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-8" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="9">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-9" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-9" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-9" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-9" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="10">
                        <div class="xb-question-text"> 受理网点接受客户的网上银行业务申请时，必须坚持“三核对”，其中“三核对”是指
                        </div>
                        <div class="xb-question-choice" data-choose="false">
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-10" value="A">
                                        <span>A</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；统核对客户账户性质；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-10" value="B">
                                        <span>B</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对开立网银数量
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-10" value="C">
                                        <span>C</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户出示的有效证件、账户凭证原件与申请表上填写的内容是否相符；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                            <div class="am-g xb-question-15b">
                                <label>
                                    <div class="am-u-sm-1 xb-radio">
                                        <input class="" type="radio" name="doc-radio-10" value="D">
                                        <span>D</span>
                                    </div>
                                    <div class="am-u-sm-11">
                                        核对客户申请书填写的内容是否完整；通过系统核对客户密码或直接核对账户预留印鉴；核对申请表、授权书上的填写内容与系统显示的客户信息（户名、证件类型、证件号码等）是否相符。
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-progress"></div>
            </div>
        </form>
    </div>
    <div class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-6" data-am-modal="{target:'#doc-modal-1'}">
            <span class="xb-tab-icon"><i class="am-icon-leanpub am-icon-sm am-icon-fw"></i></span>
            <span class="xb-tab-span">答题卡</span>
        </div>
        <div class="xb-tab am-u-sm-6">
            <span class="xb-tab-icon"><i class="am-icon-clock-o am-icon-sm am-icon-fw"></i></span>
            <span class="xb-tab-span"><strong>19:59</strong></span>
        </div>
    </div>
    <!-- modal -->
    <div class="am-modal am-modal-no-btn xb-modal" tabindex="-1" id="doc-modal-1">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">答题卡
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-g">
                    <div class="am-u-sm-2">
                        <a href="#1">1</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#2">2</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#3">3</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#4">4</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#5">5</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#6">6</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#7">7</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#8">8</a>
                    </div>
                    <div class="am-u-sm-2">
                        <a href="#9">9</a>
                    </div>
                    <div class="am-u-sm-2 am-u-end">
                        <a href="#10">10</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script>
    var questions = document.querySelectorAll(".xb-question-choice");
    var question_num = document.querySelector("#question_num > strong");
    var hash = window.location.hash;
    var num = hash.split('#');
    question_num.innerHTML = num[1] ? num[1] : 1;
    var btn_close = document.querySelector(".xb-modal .am-close-spin");
    var answer_btns = document.querySelectorAll('.xb-modal .am-modal-bd a');
    for (var i = 0; i < answer_btns.length; i++) {
        (function(i) {
            answer_btns[i].addEventListener("touchstart", function(e) {
                btn_close.click();
            });
        })(i);
    }
    for (var i = 0; i < questions.length; i++) {
        (function(i) {
            var radios = questions[i].querySelectorAll("input[type='radio']");
            for (var j = 0; j < radios.length; j++) {
                (function(j) {
                    radios[j].addEventListener("change", function(e) {
                        for (var k = 0; k < radios.length; k++) {
                            var otherParent = radios[k].parentNode;
                            var otherChoice = otherParent.querySelector("span");
                            otherChoice.classList.remove('span-choice');
                        }
                        var parent = this.parentNode;
                        var choice = parent.querySelector("span");
                        choice.classList.add('span-choice');
                        var grandParent = parent.parentNode.parentNode.parentNode;
                        grandParent.setAttribute("data-choose", "true");
                        // 关联答题卡
                        for (var i = 0; i < answer_btns.length; i++) {
                            (function(i) {
                                var choose = questions[i].dataset.choose;
                                if (choose == "true") {
                                    answer_btns[i].classList.add("xb-active");
                                } else {
                                    answer_btns[i].classList.remove("xb-active");
                                }
                            })(i);
                        }
                    })
                })(j);
            }
        })(i);
    }
    var swiper = new Swiper('.swiper-container', {
        initialSlide: 0,
        hashnav: true,
        hashnavWatchState: true,
        pagination: '.swiper-pagination',
        paginationType: 'progress'
    });
    window.addEventListener("hashchange", function(e) {
        hash = this.location.hash;
        num = hash.split('#');
        question_num.innerHTML = num[1];
    })
    </script>
</body>

</html>