<!DOCTYPE html>
<html>

<head>
    <title> 考试系统 </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-white">
        <div class="am-header-left am-header-nav">
            <a href="/" class="">
                <i class="am-icon-angle-left am-fr am-icon-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">考试成绩</h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <style>

    </style>
    <div class="xb-anwser">
        <span>答对<strong>5</strong>道题</span>
        <span>共10道</span>
    </div>
    <div class="am-g xb-card">
        <div class="am-u-sm-12 xb-card-title">
            <span><i class="am-icon-leanpub am-icon-sm am-icon-fw"></i></span>
            <h2>答题卡</h2>
        </div>
        <div class="am-u-sm-10 am-u-sm-offset-1 am-u-end xb-card-score">
            <div class="am-g">
                <div class="am-u-sm-2">
                    <span class="xb-score-success">1</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-success">2</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-danger">3</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-success">4</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-success">5</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-danger">6</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-danger">7</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-success">8</span>
                </div>
                <div class="am-u-sm-2">
                    <span class="xb-score-danger">9</span>
                </div>
                <div class="am-u-sm-2 am-u-end">
                    <span class="xb-score-danger">10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-6" id="question_submit">
            <a href="#">
                <span class="xb-tab-icon"><i class="am-icon-book am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">答案解析</span>
            </a>
        </div>
        <div class="xb-tab am-u-sm-6">
            <a href="/radio">
                <span class="xb-tab-icon"><i class="am-icon-sticky-note-o am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">重新考试</span>    
            </a>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</body>

</html>