<!DOCTYPE html>
<html>

<head>
    <title> 首页 </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <style>
    .am-header-white {
        background-color: #317A1F;
    }

    .am-header-white .am-header-title,
    .am-header-white .am-header-left a i {
        color: #FFF;
    }

    .xb-scorelist .am-btn-success {
        background-color: #317A1F;
    }
    </style>
    <header data-am-widget="header" class="am-header am-header-white">
        <div class="am-header-left am-header-nav">
            <a href="javascript:window.history.back();" class="">
                <i class="am-icon-angle-left am-fr am-icon-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">考试成绩</h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <style type="text/css">

    </style>
    <div class="am-g xb-scorelist">
        <div class="am-u-sm-12">
            <ul class="am-list am-list-static am-list-border">
                <% if(data.examlist){ %>
                <% for( var i=0 ; i<data.examlist.length ; i++){ %>
                    <li>
                        <span><%= data.examlist[i].examname %></span>
                        <span><strong><%= data.examlist[i].score %></strong>分</span>
                        <a href="/examList/<%= data.examlist[i].examid %>" class="am-btn am-btn-success">重考</a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <style>
        .xb-bottom .xb-bottom-img{
            position: absolute;
            left: 50%;
            margin-left: -20%;
            width: 40%;
            bottom: 10px;
        }
        .xb-bottom .xb-bottom-img img{
            width: 100%;
        }
    </style>
    <div class="xb-bottom am-g">
        <div class="am-u-sm-12">
            <div class="xb-bottom-img">
                <img src="/images/font.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-6">
            <a href="/">
                <span class="xb-tab-icon"><i class="am-icon-wpforms am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">考试</span>
            </a>
        </div>
        <div class="xb-tab am-u-sm-6">
            <a href="javascript:window.history.back();">
                <span class="xb-tab-icon"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">个人中心</span>
            </a>
        </div>
    </div> -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</body>

</html>