<!DOCTYPE html>
<html>

<head>
    <title> 首页 </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-white">
        <div class="am-header-left am-header-nav">
            <a href="javascript:window.history.back();" class="">
                <i class="am-icon-angle-left am-fr am-icon-lg"></i>
            </a>
        </div>
        <h1 class="am-header-title">考试成绩</h1>
        <div class="am-header-right am-header-nav">
            <a href="#right-link" class=""></a>
        </div>
    </header>
    <style type="text/css">
    .xb-scorelist {
        height: calc(100% - 101px);
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
    }

    .xb-scorelist .am-list {
        margin-top: 10px;
    }

    .xb-scorelist .am-list li {
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #dedede;
        position: relative;
    }

    .xb-scorelist .am-list span {
        display: inline-block;
        margin-bottom: 6px;
    }

    .xb-scorelist .am-list span:nth-child(1) {
        font-weight: bold;
        width: 200px;
        word-wrap: 200px;
    }

    .xb-scorelist .am-list span:nth-child(2) {
        position: absolute;
        right: 80px;
    }

    .xb-scorelist li a {
        position: absolute;
        right: 0px;
        /*float: right;*/
        display: inline-block;
        padding: 0.3em 0.8em;
    }
    </style>
    <div class="am-g xb-scorelist">
        <div class="am-u-sm-12">
            <ul class="am-list am-list-static am-list-border">
                <li>
                    <span>电子信息基础</span>
                    <span><strong>60</strong>分</span>
                    <a href="/examList" class="am-btn am-btn-success">重考</a>
                </li>
                <li>
                    <span>电子信息理论进阶电子信息理论进阶</span>
                    <span><strong>80</strong>分</span>
                    <a href="/examList" class="am-btn am-btn-success">重考</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="xb-bottom am-g">
        <div class="xb-tab am-u-sm-6">
            <a href="/">
                <span class="xb-tab-icon"><i class="am-icon-wpforms am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">考试</span>
            </a>
        </div>
        <div class="xb-tab am-u-sm-6">
            <a href="javascript:window.history.back();">
                <span class="xb-tab-icon"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
                <span class="xb-tab-span">个人中心</span>
            </a>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</body>

</html>